<!--The content below is only a placeholder and can be replaced.-->
 <!DOCTYPE html>
 <html>
 <head>
 
    <title>sibusiso nyoni CV</title>
 </head>

     <body>

<nav>
  <ul>
    <li><a>Home </a></li>
   <li><a>about Us</a> </li>
    <li><a>contact </a></li>
    <li><a>blog </a></li>
  </ul>
</nav>
  <br>
  <br>
  

<h1 >Hi my name is Sibusiso Nyoni</h1>

<h3><i>This is my CV and all the information about myself, Please scroll down to view this:</i></h3>


<div class="box" align="center">

 <img src="../assets/20160101_234541.jpg" alt="" class="box-img">
  <p>Sibusiso Nyoni</p>
  <p>software developer</p>
  </div>

<table  class="content" >

  

  <h2>PERSONAL DETAILS</h2>
<tr>
  <th>FIRST NAME:</th>
  <td>SIBUSISO</td>
</tr>

<tr>
  <th>SURNAME:</th>
  <td> NYONI</td>
</tr>

<tr>
    <th>ID:</th>
    <td> 9208216156083</td>
  </tr>
  <tr>
      <th>SEX:</th>
      <td> MALE</td>
    </tr>

    <tr>
        <th>NATIONALITY:</th>
        <td> SOUTH AFRICAN</td>
      </tr>

      <tr>
          <th>MARITAL STATUS:</th>
          <td> SINGLE</td>
        </tr>

        <tr>
            <th>HOME LANGUAGE:</th>
            <td> ISIZULU</td>
          </tr>

          <tr>
              <th>OTHER LANGUAGES:</th>
              <td> ENGLISH</td>
            </tr>

            <tr>
                <th>HEALTH:</th>
                <td> EXCELLENT</td>
              </tr>

              <h2>CONTACT DETAILS</h2>

              <tr>
                  <th>HOME ADDRESS:</th>
                
                  <td> 17 VILLER MOURE</td>
                  </tr>
                  
                  <tr>
                    <td></td>
                  <td> 24 DONCASTER ROAD</td>
                  </tr>

                  <tr>
                      <td></td>
                  <td> NEW MARKET</td>
                  </tr>

                  <tr>
                      <td></td>
                  <td> ALBERTON</td>
                  </tr>

                  <tr>
                      <td></td>
                  <td> 1448</td>
                  </tr>
                

                <tr>
                    <th>CELLPHONE NUMBER:</th>
                    <td> 0732930571</td>
                  </tr>

                  <tr>

                      <th>E-MAIL:</th>
                      <td>nyonisbuda@gmail.com</td>
                    </tr>

                    <h2>QUALIFICATION</h2>
                    <tr>
                    <th>2010:</th>
                    <td>JABULANI TECHNIACAL HIGH SCHOOL</td>
                  </tr>

                  <tr>
                    <td></td>
                <td> MATRIC</td>
                </tr>
                
                <tr>
                  <td></td>
                  </tr>
              <tr>
              <td></td>
              </tr>

                <tr>
                  <td></td>
              <td> ISIZULU HOME LANGUAGE</td>
              </tr>

              <tr>
                <td></td>
            <td> ENGLISH FIRST ADDITIONAL LANGUAGE</td>
            </tr>

            <tr>
              <td></td>
          <td> ENGENEERING AND GRAPHICS DESIGN</td>
          </tr>
          
          <tr>
            <td></td>
        <td> LIFE ORIENTATION</td>
        </tr>

        <tr>
          <td></td>
      <td> ELECTRICAL ENGENEERING</td>
      </tr>

      <tr>
        <td></td>
    <td> MATHEMATICS</td>
    </tr>

    <tr>
      <td></td>
      </tr>
  <tr>
  <td></td>
  </tr>

    <tr>
      <th>2017:</th>
      <td>SOUTH WEST GAUTENG TVET COLLEGE</td>
    </tr>
    
    <tr>
      <td></td>
  <td> NQF LEVEL 4 ICT</td>
  </tr>

 <tr>
      <td></td>
      </tr>
  <tr>
  <td></td>
  </tr>

  <tr>
    <td></td>
<td> ENGLISH FIRST ADDITIONAL LANGUAGE</td>
</tr>

<tr>
  <td></td>
<td> LIFE ORIENTATION</td>
</tr>

<tr>
<td></td>
<td> MATHEMATICS</td>
</tr>

<tr>
<td></td>
<td> PROJECT MANAGEMENT</td>
</tr>

<tr>
<td></td>
<td> SYSTEM ANALYSIS AND DESIGN</td>
</tr>

<tr>
<td></td>
<td> COMPUTER PROGRAMMING</td>
</tr>

<tr>
  <td></td>
  <td>DATA COMMUNICATION AND NETWORKING</td>
</tr>
                    <h2>REFERENCE</h2>

                    <tr>
                        <th>NAME:</th>
                        <td> OTHENIEL MOGOTSI</td>
                      </tr>

                      <tr>
                          <th>POSITION:</th>
                          <td> H.O.D/LECTURE IN ICT AT SWGC </td>
                        </tr>

                        <tr>
                            <th>CONTACT DETAILS:</th>
                            <td> 0764482432</td>
                          </tr>

</table>



       </body>
       </html>
